body{
	margin: 0;
	padding: 0;
}
header{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	
    padding-bottom: 50px;
    color: red;

}
.container{
	width: 100%;
	height:650px ;
	padding-top: 10px;
	background-image: url("6.jpg");
	background-repeat: repeat;

}
.card{
	
}


